@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');

*{
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.console{
  background-color: white;
  color: red;
  font-weight: bold;
}

/* menu */

.menu{
  display: block;
  width: 180px;
  height: 401px;
  position: absolute;
  z-index: 3000;
  top:100px;
  text-transform: uppercase;
  color: #929193;
  bottom: 50px;
  left: 50px;
  border-style: solid;
  border-width: 30px 9px 30px 9px;
  border-image: url(https://i.imgur.com/W2Hyzs7.png) 30 9 30 9;
  border-radius: 32px;
  box-shadow: -1px -1px 60px -1px rgba(0,0,0,1);
  cursor: pointer;
  background-image: url(https://i.imgur.com/tNEgqfX.png);
  background-size: cover;
  font-family: 'Hind Siliguri', sans-serif;
}

.menu h1{
  background-color: rgba(230, 229, 230,255);
  font-family: 'Unica One', cursive;
  color: #929193;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: 'Hind Siliguri', sans-serif;
}

.menu_description{
  background-color: #fff;
  border-radius:0px 20px 20px 0px;
  -moz-border-radius:0px 20px 20px 0px;
  -webkit-border-radius:0px 20px 20px 0px;
  border: 1px solid #DDDBDD;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 65px;
  left: 187px;
  font-weight: bold;
  padding: 9px;
  font-size: 1.0em;
  max-width: 500px;
  font-family: 'Hind Siliguri', sans-serif;
}

.choices{
  display: block;
  overflow: auto;
  max-height: 370px;
  font-family: 'Hind Siliguri', sans-serif;
}

.choices::-webkit-scrollbar{ 
 display: none;
}

.choices > div{
  display: block;
  padding: 5px;
  font-size: 16px;
  font-family: 'GTA';
  line-height: 24px;
  height: 24px;
  color:#929193;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: #F6F5F7;
  border: 1px solid #DDDBDD;
  font-family: 'Hind Siliguri', sans-serif;
}

.choices .selected{
  background-color: #E6E5E6;
  color: #929193;
  font-family: 'Hind Siliguri', sans-serif;
}

/* progress bar */
.progressbar{
  position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* dynamic class progress bar */
.dprogressbar{
  position: relative;
  padding: 0;
  margin: 0;
}

.dprogressbar .inner{
  height: 100%;
  padding: 0;
  margin: 0;
}

.dprogressbar .label{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* wprompt */
.wprompt{
  position: absolute;
  background-color: rgba(35, 40, 46, 0.5);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.wprompt h1{
  font-size: 1.2em;
  font-family: 'Hind Siliguri', sans-serif;
  color: #FFFFFF;
}

.wprompt textarea{
  outline: none !important;
  background-color: rgba(35, 40, 47, 0.39);
  font-family: 'Hind Siliguri', sans-serif;
  flex: 1;
  color: white;
  width: 100%;
  resize: none;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 1.2em;
  font-family: 'Hind Siliguri', sans-serif;
  color: #FFFFFF;
}

/* request manager */
.request_manager{
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: right;
}

.request_manager div{
  margin-top: 10px;
}

.request_manager div > span{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.50);
  padding: 4px;
}

.request_manager .yes{
  padding-left: 15px;
  color: rgb(0,255,0);
  font-size: 1em;
}

.request_manager .no{
  color: rgb(255,0,0);
  font-size: 1em;
}

/* announce */

.announce{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  margin-left: -400px;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 2px 2px black;
  color: white;
  display: none;
  opacity: 0.90;
}

/* VoIP */

#voice_indicator{
  position: absolute;
  width: 75px;
  height: 75px;
  right: 0;
  top: 35%;
  background-image: url("images/voice_active.png");
  display: none;
}

#voice_indicator.active{
  display: block;
}
