/* Color for single progressbar. */
#pb0::-webkit-progress-value
{
    background: rgb(255, 255, 255);
}

/* Color for multiple progressbars, #1 */
#pb1::-webkit-progress-value
{
    background-color: rgb(255, 251, 255);
}

/* Color for multiple progressbars, #2 */
#pb2::-webkit-progress-value
{
    background-color: rgb(255, 242, 0);
}

/* Color for multiple progressbars, #3 */
#pb3::-webkit-progress-value
{
    background-color: rgb(255, 242, 255);
}

/* Color for multiple progressbars, #4 */
#pb4::-webkit-progress-value
{
    background-color: rgb(255, 242, 253);
}

/* Color for multiple progressbars, #5 */
#pb5::-webkit-progress-value
{
    background-color: rgb(255, 242, 253);
}