/*--------------------------------------------------------------------------

    ActionMenu - v1.0.1
    Created by WolfKnight
    Additional help from lowheartrate, TheStonedTurtle, and Briglair.  

--------------------------------------------------------------------------*/

@font-face {
    font-family: "Roboto";
    src: url( "Roboto.ttf" );
}

#actionmenu div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 100%;
}

#actionmenu button, button:hover, button:active, button:focus {
    border-radius: 6px;
    border: none;
}

#actionmenu button { 
    background: linear-gradient( to bottom, rgb( 240, 240, 240 ), rgb( 200, 200, 200 ) );
    color: black; 
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    padding: 5px 18px; 
    margin: 8px 8px 8px 8px;
    cursor: pointer; 
    width: 80px; 
    display: block;
    font-weight: bold;	
	position: absolute;
	top: -65px;
	right: 30px;
}

#actionmenu button:hover {
    background: linear-gradient( to bottom, rgb( 255, 255, 255 ), rgb( 190, 190, 190 ) );
}

#actionmenu button:active {
    background: linear-gradient( to bottom, rgb( 220, 220, 220 ), rgb( 170, 170, 170 ) );
}

#menu1 {
    position: absolute;
    left: 184px; 
    top: 29px;
}

#menu2 {
    position: absolute;
    left: 193px; 
    top: 119px;
}