body { 
 
background-color:transparent;
/*background:url('background.jpg') no-repeat center center fixed;*/
  overflow: hidden;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.container-fluid {
	display:none;
}

span{
  color: rgb(244, 223, 66) !important;
}

span1{
  color: rgb(66, 223, 244) !important;
}

@font-face {
    font-family: sign;
    src: url(signpainter.ttf);
}
@font-face {
    font-family: gothicb;
    src: url(gothicb.ttf);
}

h1.tutorialheader {
	font-family:sign;
	font-size:4.5vw;
	color:#FFF;
	text-shadow: .1vw .3vw  #000;
	text-align: center;
	margin-top:4vw;
}
div.tutdesc { 

width: 100%;
  position: absolute;
    top: 8.5vw;
    text-align:center;
 }
h2.tutorialdesc {
	font-family:sign;
	font-size:2.3vw;
	color:#fcffe2;
	text-shadow: .1vw .3vw  #000;
	  
	
}
img {
display: inline-block;
				max-width: 98%;
				height: auto;
				width: 55.5vw;
				margin: 1vw; position:absolute; left:20vw; top:8.3vw; z-index:3px;
			}
#desempregado {
	display: inline-block;
	top:-400px;
    right: 500px;
				/*max-width: 12%;
				height: auto;
				width: 15vw;
				z-index:5;
				border: none;
				padding: 10px;
				border-style: none;
				border-radius: 5px;
				margin: 1vw; position:absolute; left:22.48vw; top:14.4vw; z-index:3;*/
}
#pescador {
	display: inline-block;
	top:-200px;
    left: 339px;
				/*max-width: 12%;
				height: auto;
				width: 15vw;
				z-index:5;
				border: none;
				padding: 10px;
				border-style: none;
				border-radius: 5px;
				margin: 1vw; position:absolute; left:34.75vw; top:14.4vw; z-index:3;*/
}
#taxi {
	display: inline-block;
	top:-94px;
    left: -38px;
				/*max-width: 12%;
				height: auto;
				width: 15vw;
				z-index:5;
				border: none;
				padding: 10px;
				border-style: none;
				border-radius: 5px;
				margin: 1vw; position:absolute; left:47.08vw; top:14.4vw; z-index:3;*/
}
#mecanico {
	display: inline-block;
	top:-350px;
    left: -38px;
				/*max-width: 12%;
				height: auto;
				width: 15vw;
				z-index:5;
				border: none;
				padding: 10px;
				border-style: none;
				border-radius: 5px;
				margin: 1vw; position:absolute; left:59.38vw; top:14.4vw; z-index:3;*/
}
#entregador {
	display: inline-block;
	top:-400px;
    right: 80px;
				/*max-width: 12%;
				height: auto;
				width: 15vw;
				z-index:5;
				border: none;
				padding: 10px;
				border-style: none;
				border-radius: 5px;
				margin: 1vw; position:absolute; left:22.48vw; top:19.8vw; z-index:3;*/
}
#gopostal {
	display: inline-block;
	top:-200px;
    right: 80px;
				/*max-width: 12%;
				height: auto;
				width: 15vw;
				z-index:5;
				border: none;
				padding: 10px;
				border-style: none;
				border-radius: 5px;
				margin: 1vw; position:absolute; left:34.68vw; top:19.8vw; z-index:3;*/
}
/*.btn-red {
	background:red;
	color:#FFF;
}
.btn-red:hover {
	background:#843636;
	color:#FFF;
}*/

.teste {
  background-color: #c0392b;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.teste .icon {
  display: inline-block;
  height: 100%;
  text-align: center;
  top: 0;
}
.teste span {
  width: 72%;
  line-height: inherit;
  font-size: 15px;
  left: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.teste span:after {
  content: '';
  background-color: #a53125;
  top: 15%;
  right: -1px;
}
.teste .icon {
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.teste .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), ease;
}
.teste .icon .fa-remove {
  height: 36px;
}
.teste .icon .fa-check {
  height: 36px;
  display: none;
}
.teste.success {
  background-color: #27ae60;
}
.teste.success .icon .fa-remove {
  display: none;
}
.teste.success .icon .fa-check {
  display: inline-block;
}
.teste:hover {
  opacity: .9;
}
.teste:active {
  opacity: 1;
}

table {
	background-color: #27ae60;
}

[data-tooltip] {
  position: relative;
  font-weight: bold;
}

[data-tooltip]:after {
  display: none;
  position: absolute;
  top: -5px;
  padding: 5px;
  border-radius: 3px;
  left: calc(100% + 2px);
  content: attr(data-tooltip);
  white-space: nowrap;
  background-color: #0095ff;
  color: White;
}

[data-tooltip]:hover:after {
  display: block;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:700);
html, body{font-family : Roboto;}

#holder{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  position: relative;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
}
.button {
  margin-top: 5px;
  background: #3D4C53;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}
.btnText {
  margin-top: 5px;
  color : white;
  transition : .3s;
}
.btnText2 {
  margin-top : 53px;
  text-align: center;
  font-size: 30px;
  margin-right : -105px;
  color : #FFF;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  /* IE Fallback */
  width: 100%;
  height: 100%;
}
.pricing {
  position: absolute;
  background: #3498db;
  width: 280px;
  top: 50%;
  left: 50%;
  margin: -117px 0 0 140px;
  padding: 40px 0 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.pricing .thumbnail {
  background: #fff;
  /* IE Fall */
  background: rgba(255, 255, 255, 0.2);
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 36px;
  line-height: 90px;
  text-align: center;
}
.pricing .title {
  cursor: pointer;
  background: #2980b9;
  margin: 40px 0 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.pricing .content {
  display: none;
}
.pricing .content .sub-title {
  background: #eee;
  padding: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.pricing .content ul {
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 14px;
}
.pricing .content ul li {
  padding: 10px 20px;
}
.pricing .content ul li:nth-child(2n) {
  background: #f3f3f3;
}
.pricing .content ul li .fa {
  width: 16px;
  margin-right: 10px;
  text-align: center;
}
.pricing .content ul li .fa-check {
  color: #2ecc71;
}
.pricing .content ul li .fa-close {
  color: #e74c3c;
}
.pricing .content a {
  display: block;
  background: #2980b9;
  max-width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.pricing .content a:hover {
  background: #34495e;
  /* IE Fallback */
  background: rgba(52, 73, 94, 0.7);
}
.clickMe {
  background: #fff;
  /* IE Fallback */
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 180px;
  left: -60px;
  padding: 5px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #3498db;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
}
.clickMe:before {
  content: '';
  position: absolute;
  top: 6px;
  right: -5px;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5 solid #fff;
  /* IE Fallback */
  border-left: 5px solid rgba(255, 255, 255, 0.8);
}




::-webkit-scrollbar {
  width: 0.12em;
  height: 0.10em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto";
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 92%;
  width: 100%;
}


button.btn {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0px;
}

body.large-screen .table-wrapper {
  max-width: 800px;
}
body.large-screen .card-list-table {
  background: white;
}
body.large-screen .card-list-table tbody tr {
  background: transparent;
  box-shadow: none;
  margin: 0;
}
body.large-screen .card-list-table tbody tr:nth-of-type(even) {
  background: #dfdfdf;
}
body.large-screen .card-list-table thead {
  display: table-header-group;
}
body.large-screen .card-list-table thead th:last-child {
  box-shadow: none;
}
body.large-screen .card-list-table thead th {
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 20px;
}
body.large-screen .card-list-table tbody tr {
  display: table-row;
  padding-bottom: 0;
}
body.large-screen .card-list-table tbody tr:nth-of-type(even) {
  background: #fff;
}
body.large-screen .card-list-table tbody td {
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  display: table-cell;
  padding: 30px 32px;
  transition: background .2s ease-out;
  vertical-align: middle;
}
body.large-screen .card-list-table tbody td:after {
  display: none;
}
body.large-screen .card-list-table tbody td:before {
  content: '';
}
body.large-screen .card-list-table tbody tr:hover td {
  background: #fcf3d0;
}

.table-wrapper {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 0;
  max-height: 500px;
  overflow-y: scroll;
  position: relative;
  transition: all .2s ease-out;
}
@media (min-width: 768px) {
  .table-wrapper {
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}

.card-list-table {
  table-layout: fixed;
  background: transparent;
  margin-bottom: 0;
  width: 100%;
}
.card-list-table thead {
  display: none;
}
.card-list-table tbody tr {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  display: block;
  padding: 15px 10px;
  margin: 0 0 5px 0;
}
.card-list-table tbody td {
  border: 0;
  display: block;
  padding: 10px 20px 20px 20%;
  position: relative;
}
.card-list-table tbody td:first-of-type::after {
  visibility: hidden;
}
.card-list-table tbody td:after {
  content: '';
  width: calc(100% - 30px);
  display: block;
  margin: 0 auto;
  height: 1px;
  background: #dfdfdf;
  position: absolute;
  left: 0;
  right: 0;
  top: -6px;
}
.card-list-table tbody td:before {
  color: rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  font-size: .85em;
  content: attr(data-title);
  display: table-cell;
  font-weight: 500;
  height: 100%;
  left: 15px;
  margin: auto;
  position: absolute;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}
.card-list-table thead th {
  text-transform: uppercase;
  font-size: .85em;
  color: rgba(0, 0, 0, 0.35);
  letter-spacing: .8pt;
}

.headshot {
  margin-left: 2%;

  height: calc(150px);
  width: calc(150px);
  border: calc(3px) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.headshot-1 {
  border-radius: 50%;
  background-image: url(https://i.imgur.com/S40K924.png),
    linear-gradient(to bottom right, #2e302e, #2e302e,#2e302e);
}